[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = git@github.com:amandaasullivan/1XC3_L03.git
[submodule "1XC3_L07"]
	path = 1XC3_L07
	url = git@github.com:amandaasullivan/1XC3_L07.git
[submodule "CS1XC3_L08"]
	path = CS1XC3_L08
	url = git@github.com:amandaasullivan/CS1XC3_L08.git
[submodule "Cont-Int_L08"]
	path = Cont-Int_L08
	url = git@github.com:amandaasullivan/Cont-Int_L08.git
[submodule "CS1XC3_L08_P3"]
	path = CS1XC3_L08_P3
	url = git@github.com:amandaasullivan/CS1XC3_L08_P3.git
[submodule "L09/CS1XC3_L09_Part4"]
	path = L09/CS1XC3_L09_Part4
	url = git@github.com:amandaasullivan/CS1XC3_L09_Part4.git
[submodule "CS1XC3_L09"]
	path = CS1XC3_L09
	url = git@github.com:amandaasullivan/CS1XC3_L09.git
[submodule "CS1XC3_L10"]
	path = CS1XC3_L10
	url = git@github.com:amandaasullivan/CS1XC3_L10.git
